@model UserDetailsModel

@{
    ViewData[Title] = "Details";
}

<div class="row">
    <div class="col">
        <form method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            
            <div class="form-group mb-4">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" value="@Model.Username"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            
            <h3>Roles</h3>
            
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                if (Model.Roles[i].Selected)
                {
                    <div class="form-check form-check-inline">
                        <input asp-for="Roles[i].Selected" class="form-check-input" checked>
                        <input asp-for="Roles[i].Value" type="hidden" value="@Model.Roles[i].Value"/>
                        <label class="form-check-label">@Model.Roles[i].Text</label>
                    </div>
                    continue;
                }

                <div class="form-check form-check-inline">
                    <input asp-for="Roles[i].Selected" class="form-check-input">
                    <input asp-for="Roles[i].Value" type="hidden" value="@Model.Roles[i].Value"/>
                    <label class="form-check-label">@Model.Roles[i].Text</label>
                </div>
                
            }
            
            <div class="text-center">
                <button type="submit" class="btn btn-warning">Edit</button>
            </div>
        </form>
    </div>
</div>