@model ProductEditModel

@{
    ViewData[Title] = "Edit";
}

<div class="row">
    <div class="offset-xl-3 col-xl-6">
        <h1 class="text-center">@ViewData[Title]</h1>

        <form method="post">
            <input asp-for="Id" type="hidden" value="@Model.Id"/>
            
            <div class="text-center">
                <img class="rounded img-fluid" id="image"/>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="mb-1"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name">
            </div>
            <div class="form-group mb-3">
                <label asp-for="ImageUrl" class="mb-1"></label>
                <input asp-for="ImageUrl" class="form-control" value="@Model.ImageUrl" id="imageInput">
            </div>
            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="mb-1"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        @if (category.Id == Model.CategoryId)
                        {
                            <option value="@category.Id" selected>@category.Title</option>
                            continue;
                        }
                        <partial name="_ProductCategoryPartial" model="category"/>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="mb-1"></label>
                <input asp-for="Price" class="form-control" value="@Model.Price">
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="mb-1"></label>
                <textarea asp-for="Description" class="form-control" rows="3">@Model.Description</textarea>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="text-center">
                <button type="submit" class="btn btn-warning">Edit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}